* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font-family: 'Caveat', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background: $background-color;
  overflow-x: hidden;

  font-size: 24px;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}
